.fab {
        -fx-padding: 0.7em 0.57em;
        -fx-font-size: 14px;
        -fx-button-type: RAISED;
        -fx-background-color: rgb(255, 152, 0);
        -fx-pref-width: 200;
        -fx-text-fill: WHITE;
}